@media screen and (min-width: 991px) and (max-width: 1199px) {
  #contactForm .h4 {
    font-weight: 200;
    border-bottom: 5px solid silver;
  }
}

#contactForm .h4 {
  font-weight: 400;
  border-bottom: 1px solid silver;
}

.required-input {
  color: maroon;
}

.static-map {
  margin-bottom: 20px;
}

@media (max-width: 768px) and (min-width: 767px) {
  #contactForm .static-map img {
    width: 100%;
  }
}

